<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分类页</title>
    <link href="./img/天猫1.png" rel="icon" type="image/x-ico">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./classification.css">
    <script src="./jquery-3.2.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./classification.js"></script>
</head>

<body>
    <div class="box">
        <div class="col-xs-12 row all_top">
            <div class="col-xs-3 all_titl">
                <h1>全部分类</h1>
            </div>
        </div>
        <div class="col-xs-12 row all_box">
            <div class="posi_box col-xs-3">为你推荐</div>
            <div class="col-xs-3 row all_name">
                <ul>
                    <li class="acti">为你推荐</li>
                    <li>国际大牌</li>
                    <li>天猫国际</li>
                    <li>女装</li>
                    <li>男装</li>
                    <li>女鞋</li>
                    <li>男鞋</li>
                    <li>内衣</li>
                    <li>母婴</li>
                    <li>手机</li>
                    <li>数码</li>
                    <li>家电</li>
                    <li>美妆</li>
                    <li>箱包</li>
                    <li>运动</li>
                    <li>户外</li>
                    <li>家装</li>
                    <li>家纺</li>
                    <li>居家百货</li>
                    <li>鲜花宠物</li>
                    <li>配饰</li>
                    <li>食品</li>
                    <li>生鲜</li>
                    <li>汽车摩托</li>
                    <li>医药</li>
                    <li>图书</li>
                    <li>通信</li>
                    <li>洗护</li>
                    <li>乐器</li>
                </ul>
            </div>
            <div class="col-xs-9 row all_article">
                <div class="col-xs-12 go_interval"><a class="col-xs-12">进入为你推荐频道 ></a></div>
                <div class="col-xs-12 all_produ">

                </div>
            </div>
        </div>
    </div>
</body>

</html>