<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <style>
        h2{
            color: white;
            font-size: 20px;
            font-weight: 300;
            float: left;
            background: linear-gradient(120deg,rgb(255, 145, 0),rgb(255, 72, 0));
            padding: 10px;
        }
    </style>
</head>
<body>
    <form action="/upload/6" method="post" enctype="multipart/form-data">
        <h2>头像上传</h2>
        <input type="file" name="logo" style="display: none;">
        <input type="submit" value="确定" class="">
    </form>

</body>
</html>