<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>淘！淘你喜欢</title>
</head>

<body>
    <div class="container1">
        <div class="content-main">
            <!-- 头部 -->
            <header class="row text-top">
                <div class="header-bd">
                    <a class="placeholder">
                        <span class="text glyphicon glyphicon-search">寻找宝贝店铺</span>
                    </a>
                </div>
            </header>
            <div id="carousel-example-generic" class="carousel slide img-text" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="">
                            <img src="images/1.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/2.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/3.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/4.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/5.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/6.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/7.jpg">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="images/8.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <!-- 导航图标 -->
            <div class="row test1">
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/1.webp">
                        <div class="caption">
                            <h3>天猫</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t2.png">
                        <div class="caption">
                            <h3>聚划算</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t3.png">
                        <div class="caption">
                            <h3>天猫国际</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t4.png">
                        <div class="caption">
                            <h3>外卖</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t5.webp">
                        <div class="caption">
                            <h3>天猫超市</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t6.webp">
                        <div class="caption">
                            <h3>充值中心</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t7.png">
                        <div class="caption">
                            <h3>飞猪旅行</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t8.png">
                        <div class="caption">
                            <h3>领金币</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t9.png">
                        <div class="caption">
                            <h3>拍卖</h3>
                        </div>
                    </div>
                </div>
                <div class="col-tl2">
                    <div class="thumbnail">
                        <img src="images/t10.png">
                        <div class="caption">
                            <h3>分类</h3>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 淘宝头条 -->
            <div class="row tbtt">
                <div class="col-xt2">
                    <div class="tbtt1">
                        <img src="images/tbtt.webp">
                    </div>
                </div>
                <div class="col-xt10">
                    <div class="tbtt-content">
                        <div class="tbtt-content1">
                            <a class="tbtt-right1 col-xt9">
                                <div class="row">
                                    <span class="tbtt-right1-denger">热门</span>
                                    <span>糖酥饼真香警告 | 食说</span>
                                </div>
                                <div class="row">
                                    <span class="tbtt-right1-denger">热门</span>
                                    <span>这减肥道菜，既开胃又不失营养</span>
                                </div>
                            </a>
                            <div class="col-xt3 tbtt-right2">
                                <div class="tbtt-right2-img"></div>
                                <div class="tbtt-right2-bg"></div>
                            </div>
                        </div>
                        <div class="tbtt-content1">
                            <a class="tbtt-right1 col-xt9">
                                <div class="row">
                                    <span class="tbtt-right1-denger">热门</span>
                                    <span>aaa糖酥饼真香警告 | 食说</span>
                                </div>
                                <div class="row">
                                    <span class="tbtt-right1-denger">热门</span>
                                    <span>这减肥道菜，既开胃又不失营养</span>
                                </div>
                            </a>
                            <div class="col-xt3 tbtt-right2">
                                <div class="tbtt-right2-img"></div>
                                <div class="tbtt-right2-bg"></div>
                            </div>
                        </div>
                        <div class="tbtt-content1">
                            <a class="tbtt-right1 col-xt9">
                                <div class="row">
                                    <span class="tbtt-right1-denger">热门</span>
                                    <span>bb糖酥饼真香警告 | 食说</span>
                                </div>
                                <div class="row">
                                    <span class="tbtt-right1-denger">热门</span>
                                    <span>这减肥道菜，既开胃又不失营养</span>
                                </div>
                            </a>
                            <div class="col-xt3 tbtt-right2">
                                <div class="tbtt-right2-img"></div>
                                <div class="tbtt-right2-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 淘抢购 -->
            <div class="row tqg">
                <div class="tqg-content">
                    <div class="row tqp-warp">
                        <div class="col-xt6 tqg-left">
                            <div class="col-tl5 tqg-left1">
                                <div class="tqg-title"></div>
                                <div class="col-tl5">
                                    <div class="title1-img1"></div>
                                </div>
                                <div class="col-tl5">
                                    <div class="title1-img2"></div>
                                </div>
                            </div>
                            <div class="col-tl5"></div>
                        </div>
                        <div class="row tqg-line"></div>
                        <div class="col-xt6 tqg-right">
                            <div class="tqg-title1"></div>
                            <div class="tqg-right-title">高颜值美物</div>
                            <div class="tqg-right-title-img1"></div>
                            <div class="tqg-right-title-img2"></div>
                        </div>
                    </div>
                    <div class="row tqg-hr"></div>
                    <div class="row tqg-footer">
                        <div class="col-xt6">
                            <div class="col-xt6">
                                <div class="tqg-footer-title"></div>
                                <h3 class="tqg-footer-h3">新品100款</h3>
                                <div class="tqg-footer-img"></div>
                            </div>
                            <div class="col-xt6">
                                <div class="tqg-footer-img2"></div>
                            </div>
                        </div>
                        <div class="row tqg-line"></div>
                        <div class="col-xt6 col-xt6-right">
                            <div class="col-xt6">
                                <div class="tqg-footer-title2"></div>
                                <h3 class="tqg-footer-h3-2">什么值得买</h3>
                                <div class="tqg-footer-img3"></div>
                            </div>
                            <div class="col-xt6">
                                <div class="tqg-footer-img4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 淘宝直播 -->
            <div class="row tbzb">
                <div class="tbzb-content">
                    <div class="row tbzb-main">
                        <div class="col-xt8">
                            <div class="tbzb-main-img"></div>
                            <div class="tbzb-main-img1"></div>
                            <p class="tbzb-main-p1">"路转粉"每一秒都在发生</p>
                            <p class="tbzb-main-p2">败家主播天天有，边看直播边剁手！</p>
                            <div class="tbzb-main-icon"></div>
                        </div>
                        <div class="col-xt4" style="position:relative; width: 33.2%;float: right ">
                            <div class="tbzb-main-img3"></div>
                            <div class="tbzb-main-img4"></div>
                            <p class="tbzb-main-p3">主播优选</p>
                            <p class="tbzb-main-p2">英伦风马丁靴</p>
                        </div>
                    </div>
                    <div class="row tbzb-footer">
                        <div class="col-xt4" style="position: relative;">
                            <div class="tbzb-img1"></div>
                            <div class="tbzb-icon"></div>
                            <div class="tbzb-line"></div>
                            <h3 class="tbzb-footer-h3">美妆心得</h3>
                            <p class="tbzb-footer-p1">韩国美肌套装</p>
                        </div>
                        <div class="col-xt4" style="position: relative;">
                            <div class="tbzb-img2"></div>
                            <div class="tbzb-icon"></div>
                            <div class="tbzb-line"></div>
                            <h3 class="tbzb-footer-h3">潮搭攻略</h3>
                            <p class="tbzb-footer-p1">韩国美肌套装</p>
                        </div>
                        <div class="col-xt4" style="position: relative;">
                            <div class="tbzb-img3"></div>
                            <div class="tbzb-icon"></div>
                            <h3 class="tbzb-footer-h3">珠光宝气</h3>
                            <p class="tbzb-footer-p1">翡翠吊坠手镯</p>
                        </div>
                    </div>
                    <div class="row zbtj">
                        <div class="col-xt8">
                            <span class="zbtj-title">主播推荐</span>
                            <span class="zbtj-content">品质好货，不能错过的亲民价</span>
                        </div>
                        <div class="col-xt4">
                            <span class="zbtj-title2">抢福利</span>
                            <span class="zbtj-content1 glyphicon glyphicon-menu-right"></span>
                        </div>
                    </div>
                    <div class="row tbzb-imgicon">
                        <div class="tbzb-imgicon-1"></div>
                    </div>
                </div>
            </div>
            <!-- 买遍全球 -->
            <div class="row mbqq">
                <div class="tbzb-content">
                    <div class="row mbqq-main">
                        <div class="col-xt8">
                            <div class="mbqq-main-img"></div>
                            <div class="mbqq-main-img1"></div>
                            <p class="mbqq-main-p1">吃完必吮指的人气威化评测！</p>
                        </div>
                        <div class="col-xt4" style="position:relative;">
                            <p class="mbqq-main-p2">Tonymoly</p>
                            <p class="mbqq-main-p3"><span></span>韩国</p>
                            <div class="mbqq-main-img3"></div>
                        </div>
                    </div>
                    <div class="row mbqq-imgicon">
                        <div class="mbqq-imgicon-1"></div>
                    </div>
                </div>
            </div>
            <!-- 底部 -->
            <footer class="row tbdh">
                <a href="#" class="tbdh1"><span class="glyphicon glyphicon-home" style="color:orange;"><p>首页</p></span></a>
                <a href="#" class="shop_car"><span class="glyphicon glyphicon-shopping-cart"><p>购物车</p></span></a>
                <a href="#" class="Theorderlist"><span class="glyphicon glyphicon-list-alt"><p>订单列表</p></span></a>
                <a href="/UserIndex" class="my_taobao"><span class="glyphicon glyphicon-user"><p>我的淘宝</p></span></a>
                <a href="#"><span class="glyphicon glyphicon-option-horizontal"><p>更多</p></span></a>
            </footer>
        </div>
    </div>
</body>
<script>
    var loca_login = localStorage['id'];
    i = 0;
    $('.tbdh').children().eq(2).attr('href','/Theorderlist/'+loca_login);
    console.log( $('.tbdh').children().eq(2).attr('href'));
    setInterval(function () {
        i++
        $('.tbtt-content').children().eq(0).animate({ marginTop: -16 * i + 'vw' }, 100);
        if (i >= 2) {
            i = -1;
        }
    }, 2000);
    $('.test1 .col-tl2:last-child').click(function(){
        window.location = '/fenlei';
    });

    $('.my_taobao').attr('href','/UserIndex');
    $('.shop_car').attr('href','/cartbuy/'+loca_login);
    $('.Theorderlist').attr('href','/Theorderlist/'+loca_login);
    // $('.my_taobao').attr('href','/UserIndex/'+loca_login);

</script>

</html>