<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表页</title>
    <link href="./img/天猫1.png" rel="icon" type="image/x-ico">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./list.css">
    <script src="./jquery-3.2.1.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./list.js"></script>
</head>

<body>
    <div class="col-xs-12 box">
        <div class="top col-xs-12 row">
            <div class="return_img ">
                <span class="glyphicon glyphicon-menu-left"></span>
            </div>
            <div class="sear_box ">
                <div class="sear_fla row">
                    <span class="glyphicon glyphicon-search "></span>
                    <!-- <p>搜索天猫商品、店铺</p> -->
                </div>
            </div>
            <div class="filter">
                <p>筛选</p>
            </div>
        </div>
        <div class="col-xs-12 row nav_box">
            <div style="width: 20%;" class="but_itme"> 综合</div>
            <div style="width: 20%;" class="but_itme">销量</div>
            <div style="width: 20%;" class="but_itme">价格<span class="glyphicon glyphicon-menu-down price_logo"></span> </div>
            <div style="width: 20%;" class="">店铺</div>
            <div style="width: 20%;" class="yangshi" id="yangshi">
                <span class="glyphicon glyphicon-th-large log_img"></span>
                <span class="glyphicon glyphicon-menu-down"></span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 row">
        <div class="col-xs-12 list_box">
            <!-- <div class="col-xs-6 commo_box"><img src="./img/list_img/1_1.webp" width="100%"><p>MOCO秋冬新款高腰v领针织毛衣中长款连衣裙女MA173DRS303 摩安珂</p><div class="mony_box"><span>￥199.<i>00</i></span>月销138笔<a class="">...</a></div></div> -->
            <!-- <div class="col-xs-12 commo_box2 row"><img src="./img/list_img/1_2.webp" width="124px"><div class="right_commo"><p>MOCO秋冬新款高腰v领针织毛衣中长款连衣裙女MA173DRS303 摩安珂</p><span>月销138笔<i class="guan">官方旗舰店</i></span><span>￥199.<i>00</i><i class="yun">运费￥12.00</i></span></div></div> -->
        </div>
    </div>
    <div class="return_top">
        <img src="./img/top02 (1).png" width="100%">
    </div>
</body>

</html>